body {
  color:#373737;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  color:#222222;
}

h1, .h1 {
  font-weight: 700;
}

h2, .h2 {
  padding-bottom: 1.2rem;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #0F79D0;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {
  text-decoration: underline;
}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em, cite {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  padding: 2rem 1rem;
  margin: 0 auto;
}
#footer_wrap .inner, #header_wrap .inner {
  max-width: 65rem;
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(to top, #373737, #212121);
}

#header_wrap .inner {
  padding: 5rem 1rem 3rem 1rem;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 4.2rem;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#footer_wrap {
  background: #212121;
}
