---
---

/*****************/
/* Nav - General */
/*****************/

nav {
  display: flex;
  width: 100%;
}
nav.section {
  background-color: #ccc;
}

/* nav links */
nav a {
  text-decoration: none;
  font-size: 20px;
  padding: 0.3em 1em;
}
nav.top a {
  color: #fff;
}
.section-expander {
  background-color: #333;
  font-weight: bold;
  text-decoration: underline;
}
a.collapsed, nav.section a {
  background-color: transparent;
  font-weight: normal;
  text-decoration: none;
}
nav.section a {
  color: #000;
}
nav.section a.active {
  text-decoration: underline;
}
nav a:hover, nav a.active:hover {
  background-color: #555;
}
nav a:hover:not(.active) {
  color: white;
}

/* dropdowns */
nav .dropdown-menu {
  margin: 0;
  padding: 0;
  min-width: 300px;
}

/*****************/
/* Nav - Sidebar */
/*****************/

#main_content_wrap nav {
  flex-direction: column;
}

#main_content_wrap nav.top {
  background-color: #212121;
  border: 2px solid #ccc;
  float: left;
  min-height: 100%;
  margin-left: -240px;
  overflow: visible;
  padding: 0;
  width: 200px;
}
#main_content_wrap nav.section {
  background-color: #aaa;
}
#main_content_wrap nav.section a.active {
  background-color: #aaa;
}

#main_content_wrap nav.top a {
  padding: 16px;
}
#main_content_wrap nav.section a {
  padding: 4px 0 4px 32px;
}

/****************/
/* Nav - Header */
/****************/

#nav-wrap {
  background-color: #212121;
  border-bottom: 1px solid #333;
  left: 0;
  padding: 0;
  width: 100%;
}
#header_wrap nav {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
}
#header_wrap .dropdown-menu nav {
  flex-direction: column;
}
#header_wrap nav a:first-child {
  margin-left: 0;
}

/* when stacked */
#header_wrap nav h2 {
  background: none;
  border: none;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

/******************/
/* Responsiveness */
/******************/

/* show a sidebar if width >= 1120px */
@media screen and (min-width: 1120px) {
  #main_content_wrap nav {
    display: flex;
  }  
  #nav-wrap {
    display: none;
  }
}
/* On screens that are < 1120px wide and > 400px wide, make the sidebar into a topbar */
@media screen and (max-width: 1119px) {
  #main_content_wrap nav {
    display: none;
  }  
  #nav-wrap {
    display: block;
  }
  #nav-wrap nav .dropdown {
    display: flex;
  }
  #nav-wrap nav .accordion-item {
    display: none;
  }
  #nav-wrap nav h2 {
    display: none;
  }
}
/* On screens that are less than 600px, display the top bar vertically, instead of horizontally */
@media screen and (max-width: 600px) {
  #main_content_wrap nav {
    display: none;
  }  
  #nav-wrap {
    display: block;
  }
  #nav-wrap nav .dropdown {
    display: none;
  }
  #nav-wrap nav .accordion-item {
    display: block;
  }
  #nav-wrap nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  #main_content_wrap nav a {
    text-align: center;
    float: none;
    width: 100%;
  }
}
