---
---

@import "{{ site.theme }}";

/* global styles */
body {
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*****************/
/* Nav - General */
/*****************/

/* nav links */
nav a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
nav a.active {
  background-color: #ccc;
  color: #000;
}

/* Links on mouse-over */
nav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* On screens that are less than 1120px wide, make the sidebar into a topbar */
@media screen and (min-width: 1120px) {
  #main_content_wrap nav {
    display: block;
  }  
  #nav-wrap {
    display: none;
  }
}
@media screen and (max-width: 1119px) {
  #main_content_wrap nav {
    display: none;
  }  
  #nav-wrap {
    display: block;
  }
}

/*****************/
/* Nav - Sidebar */
/*****************/

#main_content_wrap nav {
  border-right: 1px dotted #ccc;
  height: 100%;
  left: -240px;
  overflow: auto;
  padding: 0;
  position: absolute;
  width: 200px;
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  #main_content_wrap nav a {
    text-align: center;
    float: none;
    width: 100%;
  }
}

/****************/
/* Nav - Header */
/****************/

#nav-wrap {
  background: #666;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
#header_wrap nav {
  display: flex;
  margin: 0 auto;
  max-width: 640px;
  padding: 2px 0;
}
#header_wrap nav a {
  padding: 0.3em 1em;
}

/****************/
/* Main Content */
/****************/

#main_content_wrap {
  border-top: 1px solid rgb(242, 242, 242);
  clear: both;
}

#sidebar-and-content {
  position: relative;
}

#main_content {
  padding: 0;
}


/* for some reason images can be wider than content -- fix that */
img {
  max-width: 640px;
}

/* page header */
#project_title a {
  color: #fff;
}

/* page footer */
#miscellany {
  clear: both;
}
#miscellany h2, #miscellany p {
  color: #aaa;
  font-size: 1em;
  margin: 0;
}
#miscellany h2 {
  background: none;
  border-top: 1px dotted #999;
  padding-top: 8px;
}

/* topic sections */
.topic-intro {
  background-color: #dfdfdf;
  border-left: 0.25em solid #999;
  color: #666;
  font-size: 0.9em;
  font-style: italic;
  padding: 0.5em 0.5em 0.5em 0.75em;
}
.section-intro {
  font-size: 0.9em;
  font-style: italic;
}

/* footer styles */
footer .copyright {
  float: left;
}
footer .license {
  float: right;
}
