---
---

@import "{{ site.theme }}";

/*
Best Color:
Eminence
 
About these coordinates    Color coordinates
Hex triplet	#6C3082
sRGBB  (r, g, b)	(108, 48, 130)
CMYKH   (c, m, y, k)	(17, 63, 0, 49)
HSV       (h, s, v)	(284°, 63%, 51[39]%)
Source	Xona.com Color List
B: Normalized to [0–255] (byte)
H: Normalized to [0–100] (hundred)

#6C3082;
*/

/* global styles */
html {
  font-size: 20px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

/**************/
/* Navigation */
/**************/

#nav-wrap {
  background-color: #212121;
  border-bottom: 1px solid #333;
  color: white;
  left: 0;
  padding: 0;
  width: 100%;
}
#nav-wrap .navbar-brand {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ccc;
  font-weight: bold; 
}
#nav-wrap .dropdown-menu {
  background-color: #212121;
}
#nav-wrap .dropdown-item {
  color: white;
}
#nav-wrap .dropdown-item:hover {
  color: #212121;
}

/****************/
/* Main Content */
/****************/

#main_content_wrap {
  border-top: 1px solid rgb(242, 242, 242);
  clear: both;
  padding-bottom: 15px;
}
#main_content_wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#main_content {
  padding: 0;
}


/* for some reason images can be wider than content -- fix that */
img {
  max-width: 640px;
}

/* page header */
#project_title a {
  color: #fff;
}

/* page footer */
#miscellany {
  clear: both;
}

#miscellany h2, #miscellany p {
  color: #aaa;
  font-size: 1rem;
  margin: 0;
}
#miscellany h2 {
  background: none;
  border-top: 1px dotted #999;
  padding-top: 8px;
}

/* topic sections */
.topic-intro {
  background-color: #dfdfdf;
  border-left: 0.25rem solid #999;
  color: #666;
  font-size: 0.9rem;
  font-style: italic;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}
.section-intro {
  font-size: 0.9rem;
  font-style: italic;
}

/* footer styles */
footer .copyright {
  float: left;
}
footer .license {
  float: right;
}
