<nav id="header-nav" class="top">
    {% for section in site.data.navigation.items %}
      {% capture is_current_page_in_section %}{% include _functions/isCurrentPageInSection section=section %}{% endcapture %}
      {% capture sectionTitle %}{% include _functions/getNavigationTitle navigationItem=section %}{% endcapture %}

      {% assign current_section_page_count = section.items | size %}
      {% if current_section_page_count <= 1 %}
        <a 
          class="{% if is_current_page_in_section == 'true' %}active{% endif %}" 
          href="{{ section.url }}"
          >
            {{ sectionTitle }}
        </a>
      {% else %}
        
      {% endif %}
    {% endfor %}
  </nav>