<nav class="section">
  {% for section in site.data.navigation.items %}
    {% capture is_current_page_in_section %}{% include _functions/isCurrentPageInSection section=section %}{% endcapture %}
    {% if is_current_page_in_section == 'true' %}
      <a href="{{ section.url | relative_url }}" class="upward">Up to {% include _functions/getNavigationTitle navigationItem=section %}</a>

      {% for item in section.items %}
        {% capture is_current_page %}{% include _functions/isCurrentPage navigationItem=item %}{% endcapture %}
        <a 
          class="{% if is_current_page == 'true' %}active{% endif %}" 
          href="{{ item.url | relative_url }}"
          >
            {% include _functions/getNavigationTitle navigationItem=item %}
        </a>
      {% endfor %}
    {% endif %}
  {% endfor %}
</nav>