<nav class="top">
  {% for section in site.data.navigation.items %}
    {% capture is_current_page_in_section %}{% include _functions/isCurrentPageInSection section=section %}{% endcapture %}
    <a 
      class="{% if is_current_page_in_section == 'true' %}active{% endif %}" 
      href="{{ section.url }}"
      >
        {% include _functions/getNavigationTitle navigationItem=section %}
    </a>

    {% if is_current_page_in_section == 'true' %}
      {% assign current_section_page_count = section.items | size %}

      {% if current_section_page_count > 0 %}
        <nav class="section">
          {% capture is_current_page %}{% include _functions/isCurrentPage navigationItem=section %}{% endcapture %}
          <a 
            class="{% if is_current_page == 'true' %}active{% endif %}" 
            href="{{ section.url | relative_url }}"
            >
              Overview
          </a>

          {% for item in section.items %}
            {% capture is_current_page %}{% include _functions/isCurrentPage navigationItem=item %}{% endcapture %}
            <a 
              class="{% if is_current_page == 'true' %}active{% endif %}" 
              href="{{ item.url | relative_url }}"
              >
                {% include _functions/getNavigationTitle navigationItem=item %}
            </a>
          {% endfor %}
        </nav>
      {% endif %}
    {% endif %}
  {% endfor %}
</nav>